/**
 * element.scss
 */
@import '_modules/vars';
@import '_modules/mixins';

.container {
  overflow: hidden;
}

.instructions {
  margin-top: $spacing*2;
}
.btn {
  @include inline_block();
  color: $text_light;
  background: #555;
  margin: 0 .1em;
  padding: .2em .5em;

  -webkit-border-radius: 9px;
  border-radius: 9px;

  @include link_each_pseudo_element($text_light, $text_light, $text_light, $text_light);
  &:hover { background: $link_dark; }
}

.btn-key {
  opacity: .75;  
  border: solid 3px rgba(0,0,0,.5);
  background: #fff;
  color: #000;
  &:hover { background: #fff; color:#000; }
}

.img-fill { width: 100%; }
.img-left { float: left; margin-right: $spacing; }
.img-rounded {
  display: inline-block;
  border: solid 8px rgba(0,0,0,.15);
  border-radius: 20px;
  margin: 4px
}
