/**
 * element.scss
 */
/* line 7, ../sass/02._elements.scss */
.container {
  overflow: hidden;
}

/* line 11, ../sass/02._elements.scss */
.instructions {
  margin-top: 40px;
}

/* line 14, ../sass/02._elements.scss */
.btn {
  display: inline-block;
  *display: block;
  *zoom: 1;
  color: white;
  background: #555;
  margin: 0 0.1em;
  padding: 0.2em 0.5em;
  -webkit-border-radius: 9px;
  border-radius: 9px;
}
/* line 69, ../sass/_modules/_mixins.scss */
.btn:link {
  color: white;
}
/* line 70, ../sass/_modules/_mixins.scss */
.btn:visited {
  color: white;
}
/* line 71, ../sass/_modules/_mixins.scss */
.btn:hover {
  color: white;
}
/* line 72, ../sass/_modules/_mixins.scss */
.btn:active {
  color: white;
}
/* line 25, ../sass/02._elements.scss */
.btn:hover {
  background: rgba(0, 0, 0, 0.8);
}

/* line 28, ../sass/02._elements.scss */
.btn-key {
  opacity: .75;
  border: solid 3px rgba(0, 0, 0, 0.5);
  background: #fff;
  color: #000;
}
/* line 33, ../sass/02._elements.scss */
.btn-key:hover {
  background: #fff;
  color: #000;
}

/* line 36, ../sass/02._elements.scss */
.img-fill {
  width: 100%;
}

/* line 37, ../sass/02._elements.scss */
.img-left {
  float: left;
  margin-right: 20px;
}

/* line 38, ../sass/02._elements.scss */
.img-rounded {
  display: inline-block;
  border: solid 8px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin: 4px;
}
